body{
  font: 500 1.1rem 'Vazir', sans-serif;
}

.nav-item{
  text-align: center;
}

.navbar-toggler{
  border: none;
  padding: 0.4rem;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.nav-animated .nav-link{
  transition: all 0.2s ease-in-out;
}

.circle{
  border-radius: 100%;
}

.w-60{
  width: 60px;
  height: 60px;
}

.text-special{
  color: #6ea8fe;
}

.bg-special{
  background-color: #6ea8fe;
}

.bg-special-l{
  background-color: rgb(230, 240, 255);
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

.fw-md{
  font-weight: 500 !important;
}

.btn:focus{
  box-shadow: none !important;
}

.bg-lgray{
  background-color: #ededed;
}

.shadow-c {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.keep-aspect{
  width: 100%;
  height: auto;
}

.card, .card-img{
  border-radius: 0.5rem 0.5rem 0 0;
}

.btn{
  border-radius: 50px;
}

.carousel-control-next, .carousel-control-prev{
  width: 10%;
}

.badge{
  padding: 0.4rem 0.6rem;
  margin-right: 0.25rem;
  font-weight: normal;
}

.badge-outline{
  background-color: none;
  border: 1px solid rgba(0,0,0,0.7);
  color: rgba(0,0,0,0.7);
}

.ltr{
  direction: ltr;
}

.card-img{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.card-img img{
  position:absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}